<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
    <!--The "id" identifies your plugin globally. Must be unique, must contain only alphanumeric characters, underlines and dots and must contain at least 5 characters and a maximum of 40. Once set the ID, you should not change it;)-->
    <id>Sistema_de_combate_velen</id>
    <!--"version" is the version of your plugin. When you release a new version of your module, change here =)-->
    <version>0.1</version>
    <name>Velen Sistema de Combate</name>
    <description>Sistema de Combate pra atualização mais recente de Velen</description>
    <author>Karelsama</author>
    <site>google/com</site>
    <contact>karel.jogos@gmail.com</contact>
</module>
